extends layout

block content
<<<<<<< HEAD

	<center>
	<div style=" margin-left: 440px ; margin-right: 440px;width: 500px; padding: 50px; background: -moz-linear-gradient(top, #f2f2f2 30%,#d9d9d9 100%);border-radius:10px; ">
	<div style="width: 435px; padding: 30px; background-color: LightGray; text-align: justify; border-radius:12px; font: normal 15px opensans_semibold; line-height: 90%; color: #0055;">
	<div style="font-size: 100px; font-weight: bold ;font: opensans_semibold ;color: white ;text-shadow: 1px 0px 1px #404040; margin-top:40px; margin-bottom: 50px; letter-spacing:-1px; ">TGAME</div>
	<div style="border-bottom:5px solid #127db3;width:435px; "></div>TM
	<div style="margin-top: 15px; height:200px; overflow:auto;">TGame jest kosmiczną grą strategiczną. Tysiące graczy zbiera się jednocześnie, by grać ze sobą lub przeciw sobie. Aby dołączyć do rozgrywki, potrzebujesz tylko zwykłej przeglądarki internetowej oraz konta profilowego. Dołącz już teraz!</div>
	a(href='/signup' class='register_button') Zarejestruj się!
	</div>
=======
	<link href="http://fonts.googleapis.com/css?family=Wire+One&amp;v1" rel="stylesheet" type="text/css">
	<center>
	<div style="width: 500px; padding: 50px; background: -moz-linear-gradient(top, #f2f2f2 0%,#d9d9d9 100%);border-radius:10px; ">
	<div style="width: 50px; height: 400px; background-image: url('/images/star.gif') ; width: 435px; padding: 30px; background-color: #d9d9d9; text-align: justify;border-radius:12px; font: normal 13px opensans_semibold; font-size: 15px; line-height: 90%; color: #000;">
	<div style="width:270px; padding-top:4px; font-family: wire one; font-size: 100px; color: red; text-shadow: 1px 0px 1px #404040; margin-top:12px; margin-bottom: 50PX; letter-spacing:-1px; ">Tgame</div>
	<div style="border-bottom:5px solid #127db3;width:435px; "></div></a> <br>
	<div style="height:100px; overflow:auto;">TGame jest kosmiczną grą strategiczną. Tysiące graczy zbiera się jednocześnie, by grać ze sobą lub przeciw sobie. Aby grać z nimi, potrzebujesz tylko zwykłej przeglądarki internetowej. </div></div>
>>>>>>> master
	</center>
