doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/signup.css')
		script(src="/javascripts/jquery-2.1.1.min.js")
		script(src="/javascripts/index.js")
	body
		div(class='header')
			a(href='/' class='navilink') Strona główna
			if loggedIn
			else
				a(href='/signup' class='navilink') Rejestracja
				form(action='/login', method='post')
						div(class='forminputbox')
							input(type='text', name='login', placeholder='login')
						div(class='forminputbox')
							input(type='password', name='password', placeholder='password')
						div(class='forminputbox')
							input(type='submit', value='login')
		div(class='container')
			block content
		div(class='footer')
			div(class='footavatar')
			div(class='footbar')